Hallo {{ given_name }},

herzlich Willkommen in unserer Workshop-Umgebung!

Der Zugriff erfolgt über die Software "Teleport", und wir haben bereits einen Account für dich erstellt. Um die Registrierung abzuschließen, klicke bitte auf den folgenden Link:
{{ teleport_register_url }}

Bitte beachte: Der Link ist 24 Stunden gültig.

Bewahre die Zugangsdaten am besten gut auf – vielleicht nehmen wir in Zukunft erneut an einem Workshop teil!

Viel Spaß beim Lernen und Entdecken der Umgebung!